*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;  
}

body{
    background: linear-gradient(100deg, #6c3483, #58D68D);
    height: 400vh;
}

.cont{
    /* background-color: aqua; */
    width: 90%;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
}
.cont div{
    width: 90%;
    margin: 0 auto;
    /* background-color: blueviolet; */
}

.cont .formula p{
    margin-top: 10px;
    font-size: 20px;
}
.cont .formula input{
    padding: 8px;
}
.cont .info p{
    font-size: 20px;
}

.mas{
    font-size: 20px;
    color: white;
    font-weight: bold;
}
.mas img{
    width: 40%;
}

@media (max-width: 680px){
    body{
        height: 260vh;}
    .mas img{
        width: 70%;
    }
}