body{
    background: linear-gradient(100deg, #6c3483, #58D68D);
    text-align: center;
}

.cont{
    width: 90%;
    margin: 0 auto;
}
.cont h2{
    margin: 10px 0;
    font-weight: bolder;
}
.cont h3{
    color: #fff;
}
.cont img{
    width: 45%;
}
.cont p{
    font-size: 25px;
}
.cont a{
    letter-spacing: 8px;
    padding-bottom: 10px;
}

@media (max-width: 940px){
    .cont img{
        width: 70%;
    }
}